header {
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

#instructions , #question-pane , #choices-pane {
  padding: 5px;
}

#question-pane {
  font-weight: bold;
}

#choices-pane {
  height: 250px;
}

img {
  height: 225px;
}

#start-button {
  padding: 5px;
  width: 100%;
}

li {
  cursor: pointer;
  margin: 0 20px 20px 0;
  vertical-align: top;
}

li:hover {
  background: lightcyan;
}